@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red;*/
    background-color: rgba(91, 147, 91, 0.1);
    font-family: 'Poppins', sans-serif;
}

html {
    height: 500px;
    width: 400px;
}

body {
    width: 100%;
    height: 100%;
}

.main-frame-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
/* CSS */

.button-4 {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
}

.button-4:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
}

.button-4:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}

.button-4:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}

.button-4:focus {
    outline: 1px transparent;
}

.button-4:before {
    display: none;
}

.button-4::-webkit-details-marker {
    display: none;
}
.header {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > div {
        margin: 10px;
    }
}

.create-shortcut-wrapper {
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .button-fields {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;

        & button {
            padding: 10px;
            width: 100px;

        }
    }

    .input-fields {
        width: 100%;
        display: flex;
    }
}

.filter-wrapper {
}

.suggest-wrapper {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .title {
        display: flex;
        justify-content: space-between;
    }

    .frq-shortcuts {
        overflow: scroll;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        > * {
            flex: 0 0 calc(33.333% - 10px);
            margin: 5px;
            aspect-ratio: 2/1;
        }
    }
}