@import 'bootstrap-icons/font/bootstrap-icons.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply box-border m-0 p-0;
    font-family: Poppins, sans-serif;
    background: transparent;
}
html {
    @apply h-[500px] w-[350px];
}
body {
    @apply w-full h-full;
    background: linear-gradient(
            180deg,
            #ffffff 2.83%,
            #eff9ff 12.24%,
            #eff9ff 12.25%,
            #f0f9ff 16.29%,
            #f1f9ff 22.37%,
            #f2f8ff 26.91%,
            #f2f8ff 26.92%,
            #f3f8ff 31.98%,
            #f5f8ff 43.62%,
            #f5f8ff 46.15%,
            #f7f7ff 53.74%,
            #f8f7fe 62.35%,
            #f8f7fe 62.36%,
            #faf7fe 72.97%,
            #faf7fe 72.97%,
            #fcf6fe 84.11%,
            #fdf6fe 86.64%,
            #fdf6fe 91.7%,
            #fff6fe 100%
    );
}
#root {
    @apply w-full h-full;
}
.monospace {
    font-family: Space Mono, monospace;
}
.rotate {
    @apply duration-[0.25s] ease-[ease-in-out];
}
.main-frame-wrapper {
    @apply w-full h-full flex flex-col overflow-hidden;
}
.main-frame-wrapper .inputs {
    @apply border-b-[black] border-[none] border-b border-solid;
    outline: none;
}
.main-frame-wrapper .button {
    @apply appearance-none bg-[#fafbfc] border shadow-[#1b1f230a_0_1px,#ffffff40_0_1px_inset] box-border text-[#24292e] cursor-pointer inline-block text-sm font-medium leading-5 relative transition-[background-color] duration-[0.2s] ease-[cubic-bezier(.3,0,0.5,1)] select-none touch-manipulation align-middle whitespace-nowrap px-4 py-1.5 rounded-md border-solid border-[rgba(27,31,35,0.15)] hover:bg-gray-100 hover:no-underline hover:duration-[0.1s] disabled:bg-[#fafbfc] disabled:text-[#959da5] disabled:cursor-default disabled:border-[#1b1f2326] active:bg-[#edeff2] active:shadow-[#e1e4e833_0_1px_inset] active:transition-none active:duration-[0s] before:hidden;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: -apple-system, system-ui, Segoe UI, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
    list-style: none;
    -webkit-user-select: none;
    word-wrap: break-word;
}
.main-frame-wrapper .button:focus {
    outline: 1px transparent;
}
.main-frame-wrapper .button::-webkit-details-marker {
    @apply hidden;
}
.main-frame-wrapper .header {
    @apply h-[10%] flex items-center justify-between;
}
.main-frame-wrapper .header > div {
    @apply m-2.5;
}
.main-frame-wrapper .header .title {
    @apply text-2xl font-semibold select-none;
    background: linear-gradient(270deg, #02b3f1 0%, #d37dff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-user-select: none;
}
.main-frame-wrapper .input-fields {
    @apply w-full flex items-center justify-center gap-2 p-2.5;
}
.main-frame-wrapper .input-fields span {
    @apply text-[#acacac] p-2.5 rounded-lg;
}
.main-frame-wrapper .input-fields input {
    @apply w-6/12 border-b-[black] border-[none] border-b border-solid;
    outline: none;
}
.main-frame-wrapper .input-fields select {
    @apply hidden;
}
.main-frame-wrapper .button-fields {
    @apply flex items-center justify-center gap-4;
}
.main-frame-wrapper .button-fields button {
    @apply w-[100px] m-0 p-2.5;
}
.main-frame-wrapper .create-shortcut-wrapper {
    @apply flex flex-col items-center;
}
.main-frame-wrapper .expanders-list {
    @apply overflow-hidden;
}

.main-frame-wrapper .frq-shortcuts,
.main-frame-wrapper .frq-expanders {
    @apply overflow-scroll flex flex-wrap justify-start cursor-pointer;
}

.main-frame-wrapper .frq-shortcuts .keyShortcut,
.main-frame-wrapper .frq-expanders .keyShortcut {
    @apply w-[11px] aspect-[1/1] flex items-center justify-center absolute right-[5px] bottom-0;
}

.main-frame-wrapper .frq-shortcuts > *,
.main-frame-wrapper .frq-expanders > * {
    @apply rounded-[5px];
    background: rgba(0, 0, 0, 0.1);
}

.main-frame-wrapper .frq-shortcuts > *:hover,
.main-frame-wrapper .frq-expanders > *:hover {
    background: rgba(0, 0, 0, 0.2);
}

.main-frame-wrapper .frq-shortcuts .grid,
.main-frame-wrapper .frq-expanders .grid {
    @apply flex-[0_0_calc(33.333%_-_10px)] aspect-[2/1] flex items-center justify-center relative gap-[0.3rem] m-[5px];
}

.main-frame-wrapper .frq-shortcuts .list,
.main-frame-wrapper .frq-expanders .list {
    @apply w-full overflow-hidden mb-[3px] p-2.5;
}

.main-frame-wrapper .frq-shortcuts .list > h6,
.main-frame-wrapper .frq-expanders .list > h6 {
    @apply text-[13px] font-medium underline flex items-center gap-[0.6rem];
}

.main-frame-wrapper .frq-shortcuts .list > p,
.main-frame-wrapper .frq-expanders .list > p {
    @apply text-[11px] overflow-scroll;
}

.main-frame-wrapper .frq-shortcuts .list > p::-webkit-scrollbar,
.main-frame-wrapper .frq-expanders .list > p::-webkit-scrollbar {
    @apply hidden;
}

.main-frame-wrapper .frq-shortcuts .expander-title,
.main-frame-wrapper .frq-expanders .expander-title {
    @apply flex justify-between items-center;
}
.main-frame-wrapper .freq-suggest-wrapper {
    @apply grow flex flex-col overflow-hidden p-4;
}
.main-frame-wrapper .freq-suggest-wrapper .title {
    @apply flex justify-between;
}
.main-frame-wrapper .frq-expanders {
    @apply overflow-scroll max-h-full;
}
.main-frame-wrapper .hover-visibility i {
    @apply invisible;
}
.main-frame-wrapper .hover-visibility:hover i {
    @apply visible;
}
.main-frame-wrapper .hover-visibility .expander-property {
    @apply p-[5px];
}
.main-frame-wrapper .freq-expanders-wrapper {
    @apply grow overflow-scroll flex flex-col p-3.5;
}
.main-frame-wrapper .freq-expanders-wrapper .title {
    @apply flex justify-between;
}
.main-frame-wrapper .freq-expanders-wrapper .expanders-wrapper > h4 {
    @apply w-full flex cursor-pointer justify-end;
}
.main-frame-wrapper .groups {
    @apply border grow flex flex-col overflow-hidden p-4 border-solid border-[red];
}
.main-frame-wrapper .groups * {
    @apply border border-solid border-[red];
}
.main-frame-wrapper .groups .title {
    @apply flex items-center gap-2;
}
.main-frame-wrapper .groups .groups-header {
    @apply flex overflow-scroll min-h-[2.5rem] items-center;
}
.main-frame-wrapper .groups .groups-header > div {
    @apply cursor-pointer m-[0.2rem] px-2 py-[0.2rem];
}
.main-frame-wrapper .groups .groups-grid {
    @apply flex flex-wrap overflow-scroll;
}
.main-frame-wrapper .groups .groups-grid > * {
    @apply flex items-center justify-center flex-[0_0_calc(33%_-_20px)] m-2.5 p-2.5;
}
